nicholas a. evans <nick@rubinick.dev>
nicholas a. evans <nick@rubinick.dev> <nick@410labs.com>
nicholas a. evans <nick@rubinick.dev> <nick@ekenosen.net>
nicholas a. evans <nick@rubinick.dev> <nicholas.evans@gmail.com>

Shugo Maeda <shugo@ruby-lang.org>
Shugo Maeda <shugo@ruby-lang.org> <shugo@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

Nobuyoshi Nakada <nobu@ruby-lang.org>
Nobuyoshi Nakada <nobu@ruby-lang.org> <nobu@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>

Hiroshi SHIBATA <hsbt@ruby-lang.org>
Hiroshi SHIBATA <hsbt@ruby-lang.org> <hsbt@b2dd03c8-39d4-4d8f-98ff-823fe69b080e>
